<div class="center jumbotron">
  <h1>Fried's Ice Cream Shop</h1>

  <h2>
    This is an ice cream demo app built in
    <a href="http://www.railstutorial.org/">Ruby on Rails</a>.
  </h2>

  <% if logged_in? %>
    <a href="#" class="btn btn-lg btn-primary">Create an order</a>
  <% else %>
    <%= link_to("Sign up now!", signup_path, class: "btn btn-lg btn-primary") %>
  <% end %>
</div>
